{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 col-xs-12 noPrint">
                <form action="{{ path('esp_produtividade_esp-filter-reports') }}" method="post"
                    id="esp_form_filter">
                    <div class="left-panel"><h4>Filtros:</h4></div>
                    <br>
                    <label>Início: </label>
                    <input type="date" class="form-control" name="_dateini" value="{{ dateini }}">
                    <br>
                    <label>Fim: </label>
                    <input type="date" class="form-control" name="_datefim" value="{{ datefim }}">
                    <br/>
                    <label>Filtrar por: </label>
                    <select name="_filterType" id="esp_type_filter"
                            base-url="{{ path('esp_produtividade_esp-filters') }}"
                    class="form-control">
                        <option value="0">Selecione...</option>
                        <option value="1">Especializada</option>
                        <option value="2">Procurador</option>
                        <option value="3">Tipo de Ato</option>
                    </select>
                    <br>
                    <label>Descrição: </label>
                    <select name="_filterValue" id="esp_value_filter" class="form-control">
                        <option value="0">Selecione...</option>
                    </select>
                    <br/>
                    <input type="submit" class="btn btn-sm btn-primary" value="Enviar">
                </form>
            </div>
            <div class="col-md-10 col-xs-12" id="div_partial">
                {{ include('esp/produtividade/reports/esp_partial.html.twig') }}
            </div>

        </div>

    </div>

{% endblock %}