{% extends "base.html.twig" %}
{% block header %}

    <a href="{{ path('index_geral') }}" class="navbar-brand" title="Home">
        <i class="glyphicon glyphicon-home"></i>
    </a>

    <div class="fundo-topo-menu">
        Atos
    </div>

{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-md-11 col-xs-12">
                    <div>
                        <p>Período: 01/06/2018 a 07/06/2018</p>
                    </div>
                    <br>

                    <div class="col-md-12 col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Especializada</th>
                                    <th>Tipo de Ato</th>
                                    <th>Assunto</th>
                                    <th>Tipo de Processo</th>
                                    <th>Nº Processo</th>
                                    <th>#</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in atos %}
                                <tr>
                                    <td>{{ i.emissao|date('d/m/Y') }}</td>
                                    <td>{{ i.lotacao.descricao }}</td>
                                    <td>{{ i.tipodeato.descricao }}</td>
                                    <td>{{ i.assunto }}</td>
                                    {% set processo = '' %}
                                    {% if i.tipodeprocesso is not null %}
                                        {% set processo = i.tipodeprocesso.descricao %}
                                    {% endif %}
                                    <td>{{ processo }}</td>
                                    <td>{{ i.numerodoprocesso }}</td>
                                    <td><a href="#!" class="btn btn-default btn-sm">Editar</a></td>
                                    <td><a href="#!" class="btn btn-default btn-sm">Deletar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}